table{
    border-collapse:collapse;

}
th,tr,td{
	border:1px solid #000;
	width:150px;
	height:45px;
	vertical-align:middle;
	text-align:center;
}
th{
	color:#fff;
	background-color: red;
}
h2{
    text-align: center;
    
}